.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--brown-color);
  background-color: var(--brown-color);
}

.navWrapper * {
  color: var(--blue-color);
}


.chefsHatIcon {
  max-width: 60px;
  height: auto;
  object-fit: contain;
  padding-top: 10px;
  z-index: 100;
  transform: translateY(-50px);
  opacity: 0;
  animation: flyIn 1s ease-out forwards, float 3s ease-in-out infinite, glow 2s ease-in-out infinite alternate;
}


@keyframes flyIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(164, 205, 252, 0.6));
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(164, 205, 252, 1));
  }
}

@media screen and (max-width: 1024px) {
  .chefsHatIcon {
    max-width: 50px;
  }
}

@media screen and (max-width: 768px) {
  .chefsHatIcon {
    max-width: 40px;
  }
}

.linkWrapper {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.active {
  color: var(--white-color);
}

.burgerMenu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .linkWrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--brown-color);
    border: var(--brown-color) 1px solid;
  }

  .linkWrapper.show {
    display: flex;
  }

  .linkWrapper a {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--light-blue-color);
  }

  .burgerMenu {
    display: block;
  }

  .closeIcon {
    color: var(--red-color);
    cursor: pointer;
    text-align: right;
    padding: 10px 20px;
    display: block;
  }
}
